@page "/history"


<MudTabs Elevation="1" Rounded="false" Centered="true">
    <MudTabPanel Text="Tất cả" Icon="@Icons.Material.Filled.BorderAll">
        <div class="pt-10 px-10"></div>
    </MudTabPanel>
    <MudTabPanel Text="Nhập kho" Icon="@Icons.Material.Filled.AddBusiness">
        <div class="pt-10 px-10"></div>
    </MudTabPanel>
    <MudTabPanel Text="Xuất kho" Icon="@Icons.Material.Filled.ContentPasteGo">
        <div class="pt-10 px-10"></div>
    </MudTabPanel>
    <MudTabPanel Text="Hoàn kho" Icon="@Icons.Material.Filled.AssignmentReturn">
        <div class="pt-10 px-10"></div>
    </MudTabPanel>
</MudTabs>

@code {

}
