@inherits LayoutComponentBase

<link href="login_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="login_v1/vendor/animate/animate.css" rel="stylesheet" />
<link href="login_v1/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
<link href="login_v1/vendor/select2/select2.min.css" rel="stylesheet" />
<link href="login_v1/css/main.css" rel="stylesheet" />
<link href="login_v1/css/util.css" rel="stylesheet" />

<main>
    @Body
</main>
